<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="images/donut.png"/>

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <!-- Change this in 'webpack-config.js' or remove -->
  <!-- <h1>
    <%= htmlWebpackPlugin.options.title %>
  </h1> -->
  <!-- <button class="button">Create donut</button> -->
	 <main class="main">
		 <nav class="nav">
			 <li class="nav__item donuts">Donuts</li>
			 <li class="nav__item march8">March 8th</li>
		 </nav>
		 <canvas id="myCanvas"></canvas>
	</main>
</body>

</html>
